html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.justifier {
    padding: 20px;
}

.app-heading {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}

.app-heading-tech {
    font-size: 13px;
}

.app-author {
    text-align: center;
    font-size: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mat-tab-label-content,
.mat-form-field-label {
    color: black !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

.overlay {
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 200px;
}