<!-- Loading overlay section starts -->
<div *ngIf="overlayDisplay" class="overlay">
  <h1>Loading</h1>
</div>

<div class="container">
  <div class="row login-screen">
    <div class="offset-md-3 col-md-5 justifier">
      <br>
      <h1 class="header-justify">Ascentic Practical Test</h1>
      <hr>
      <br><br>
      <mat-tab-group>
        <mat-tab label="Login">
          <div class="justifier">
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  type="text"
                  name="username"
                  placeholder="Enter your Username"
                  formControlName="username"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="
                    !loginForm.controls['username'].valid &&
                    (loginForm.controls['username'].dirty ||
                      loginForm.controls['username'].touched)
                  "
                >
                  <span *ngIf="loginForm.controls['username'].errors.required">
                    Username is required
                  </span>
                </mat-error>
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  name="password"
                  placeholder="Enter your Password"
                  formControlName="password"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="
                    !loginForm.controls['password'].valid &&
                    (loginForm.controls['password'].dirty ||
                      loginForm.controls['password'].touched)
                  "
                >
                  <span *ngIf="loginForm.controls['password'].invalid">
                    Password is invalid
                  </span>
                </mat-error>
              </mat-form-field>
              <div class="alert alert-danger feedback" *ngIf="loginError">
                Invalid Username Password combination.
              </div>
              <br />
              <br />
              <br />
              <div class="form-group">
                <button mat-raised-button color="primary">Login</button>
              </div>
            </form>
          </div>
        </mat-tab>

        <mat-tab label="Registration">
          <div class="justifier">
            <form
              (ngSubmit)="register()"
              [formGroup]="registrationForm"
              novalidate
            >
              <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  type="text"
                  name="username"
                  placeholder="Enter your Username"
                  formControlName="username"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="
                    !registrationForm.controls['username'].valid &&
                    (registrationForm.controls['username'].dirty ||
                      registrationForm.controls['username'].touched)
                  "
                >
                  <span
                    *ngIf="
                      registrationForm.controls['username'].errors.required
                    "
                  >
                    Username is required
                  </span>
                </mat-error>
              </mat-form-field>
              <mat-error
                *ngIf="
                  isuserNameAvailable &&
                  (registrationForm.controls['username'].dirty ||
                    registrationForm.controls['username'].touched)
                "
              >
                <strong>{{
                  registrationForm.controls["username"].value
                }}</strong>
                is already taken.
              </mat-error>
              <br />
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  name="password"
                  placeholder="Enter your Password"
                  formControlName="password"
                />
                <mat-error
                  *ngIf="
                    !registrationForm.controls['password'].valid &&
                    (registrationForm.controls['password'].dirty ||
                      registrationForm.controls['password'].touched)
                  "
                >
                  <span
                    *ngIf="
                      registrationForm.controls['password'].errors.required
                    "
                  >
                    Password is required
                  </span>
                </mat-error>
                <!-- <span
                    *ngIf="
                      registrationForm.controls['password'].errors.minlength
                    "
                  >
                    Password must be 8 characters long, we need another
                    {{
                      registrationForm.controls["password"].errors.minlength
                        .requiredLength -
                        registrationForm.controls["password"].errors.minlength
                          .actualLength
                    }}
                    characters
                  </span> -->
              </mat-form-field>
              <br /><br /><br />
              <div class="form-group">
                <button mat-raised-button color="primary">
                  Registration
                </button>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
